{% extends "layout.html" %}

<body>

		{% block content %}
	<hr>
	<div class="container">
	<a href="/new" class="btn btn-primary">Ajouter un échantillon : </a>
	<a href="/test" class="btn btn-primary">Aller à la page de testes : </a>
	<hr>
	<h1> liste des populations pour un échantillon </h1>
	
		<h2>Liste des populations : </h2>
		
		{% for t in populations %}
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/{{t._id}}">{{t.name}}</a>
			</div>
			
		</div>
		{% endfor %}
		<TABLE BORDER=5 CELLPADDING=10 CELLSPACING=10>
				<TR>
			{% for population in populations %}
			{{loop.index}}
			
			
			<span style="background-color: aqua" class="label label-default"> 
			{% if 0 == ( loop.index % 10 ) %}
					<TR>
			{% endif %}
						<TD><a href="/unePopulation/{{population._id}}">{{population.name}}</a>{{telomere.name}} {{loop.index}}</a></TD>
			{% if 0 == ( loop.index % 10 ) %}            
		</TR>
			{% endif %}
				
			{% endfor %}
			</TR>
		</TABLE>


		





	
			<hr>
	<div class="test-center">copyright 2018
	</div><hr></div>
	{% endblock %}
