<!DOCTYPE html>
<html lang="fr">
	<head>
		<tilte>Altérations chromosomiques</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
	</head>
<body>

	<hr>
	<div class="container">
	<a href="/new" class="btn btn-primary">Ajouter un échantillon : </a>
	<hr>
	<h1> liste des populations pour un échantillon </h1>
	{% block content %}
		<h2>Liste des populations : </h2>
		
		{% for t in populations %}
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<a href="/{{t._id}}">{{t.name}}</a>
			</div>
			
		</div>
		{% endfor %}
		<TABLE BORDER=5 CELLPADDING=10 CELLSPACING=10>
				<TR>
			{% for population in populations %}
			{{loop.index}}
			<h1> test</h1>
			
			<span style="background-color: aqua" class="label label-default">    :   </span>
			<br>
			{% if 0 == ( loop.index % 10 ) %}
					<TR>
			{% endif %}
						<TD><a href="/unePopulation/{{population._id}}">{{population.name}}</a>{{telomere.name}} {{loop.index}}</a></TD>
			{% if 0 == ( loop.index % 10 ) %}            
		</TR>
			{% endif %}
				
			{% endfor %}
			</TR>
		</TABLE>


		





	{% endblock %}
			<hr>
	<div class="test-center">copyright 2018
	</div><hr></div>

</body>


</html>