<!DOCTYPE html>
<html lang="fr">
	<head>
		<tilte> telomere</title>
		<meta charset = "UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link  rel="stylesheet" href="monCss.css" type="text/css" />
        <script language="javascript" src="http://code.jquery.com/jquery-latest.js"></script>
       <!--<style>
           
                body {
                    background-image: url("fond.jpg");
                    background-color: rgba(117, 190, 218, 0.3);
                }
                        </style>-->
        
	</head>
<body>

    <IMG SRC="fond.jpg" alt="/n l'image n'est pas chargée/n">
	<div class="container">
	<h1> telomere </h1>
    {% block content %}
    

	
	{% endblock %}
			<hr>
	<div class="test-center">
		copyright 2018
	</div></div>
    
</body>


</html>